<launch>

  <arg name="world_name" default="garage"/>

  <node pkg="waypoint_converter" exec="waypointConverter" name="waypointConverter" output="screen">
    <param name="trav_area_file_dir" value="$(find-pkg-share vehicle_simulator)/mesh/$(arg world_name)/traversable_area.ply" />
    <param name="boundary_file_dir" value="$(find-pkg-share vehicle_simulator)/mesh/$(arg world_name)/boundary.ply" />
    <param name="waypointXYRadius" value="0.15" />
    <param name="waypointProjDis" value="0.5" />
    <param name="twoWayHeading" value="true" />
    <param name="frameRate" value="5.0" />
    <param name="checkTravArea" value="true" />
    <param name="waypointTravAdj" value="true" />
    <param name="adjDisThre" value="5.0" />
    <param name="searchDisThre" value="2.5" />
    <param name="travDisThre" value="0.1" />
    <param name="extDis" value="0.2" />
    <param name="yawConfig" value="-1" /> <!-- -1: reach waypoint and stop, 0: waypoint yaw, 1: yaw to waypoint, 2: yaw sideway to waypoint -->
    <param name="speed" value="1.0" />
    <param name="sendSpeed" value="true" />
    <param name="sendBoundary" value="false" />
  </node>

</launch>
