<launch>

  <node pkg="bbox_calculation" exec="bboxBroadcast" name="bboxBroadcast" output="screen">
    <param name="object_list_file_dir" value="$(find-pkg-prefix vehicle_simulator)/mesh/unity/object_list.txt" />
    <param name="maxObjectNum" value="500" />
    <param name="broadcastDisThre" value="2.0" />
    <param name="broadcastRate" value="5.0" />
  </node>

</launch>
